@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/*  */
.btn {
    font-family: inherit;
    cursor: pointer; // изменение вида курсора на пальчик
    outline: 0;
    font-size: 1.05rem;
}

.text {
    /*уровень прозрачности элемента*/
    opacity: 0.8;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*  */
.container {
    /*задает высоту вашему приложению равной высоте области просмотра*/
    min-height: 100vh;
}

.meal-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}

.meal-search {
    margin: 2rem 0;
}

.meal-search cite{
    font-size: 1rem;
}

/*  Выбор ингредиентов    */
.meal-search-box {
    margin: 1.2rem 0;
    display: flex;
    /* Растянуть предметы, чтобы соответствовать */
    align-items: stretch;
}

.search-control,
.search-btn {
    width: 100%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    /*  Рамка   */
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/*текст инпута*/
.search-control::placeholder {
    color: var(--tenne-tawny);

}


